/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}

/* header related styles */
.banner{
    background-color: #E554731A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner-title{
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 5px;  
}
.paragraph{
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0px;
}

.banner-pic{
    width: 630px;
    height: 800px;  
}

.banner-pic > img{
    width: 100%;
    height: 100%;
}

.btn-primary{
    border-radius: 5px;
    background: #E55473;
    border: 0px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}

/* main section styles */
.main-section{
   margin-left: 100px;
   margin-right: 100px;
}

.main-header{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    color: #272727;
}

.main-items{
    display: flex;
    gap: 20px;
    border: 0;
    margin: 1px 70px;   
}

.main-section .main-items > .item:nth-child(1){
    border-radius: 300px 300px 0px 0px;
    background: #a7216226;
    padding: 110px 78px 0px 78px;
}
.main-section .main-items > .item:nth-child(2){
    border-radius: 300px 300px 0px 0px;
    background: #0597a026;
    padding: 110px 78px 0px 78px;
}


.main-section .main-items > .item:nth-child(3){
    border-radius: 300px 300px 0px 0px;
    background: #477d1126;
    padding: 110px 78px 0px 78px;
}

/* list element styles */

ul, li{
    display: flex;
    text-decoration: underline;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    margin-right: 150px;
    margin-left: 150;

}
.ul-text1{
    margin-left: 160px;
}
.ul-text2{
    margin-left: 190px;
}
.ul-text3{
    margin-left: 240px;
}

/* mid section style */
.mid-section{
    display: flex;
    border-radius: 8px;
    background: #2727270d;
    margin: 85px 80px 200px ;
    padding:50px 25px;
    justify-content: space-evenly;   
}

/* offer section styles */

.offer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    background: #e554730d;
    padding: 30px 30px 30px 30px;
}

.offer-content{
    text-align: center;
}
.offer-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.offer-text{
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
}

/* insta section styles */

.insta{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
    
}
.insta-text{
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.insta-img{
    background: #FFF;
    margin: 30px 150px 50px 150px;
    display: flex;
    gap: 20px;
}